

#bunner {
text-align:center;

}
 #list {
 color:black;
 margin: 70px;
 font-family:  sans-serif, Arial;
 font-size: 17px;
 font-weight: bold;

 }
body {
background-image: url(BackgroundSmall.jpg);
border: 7px solid Gray;
  <!-- margin: 50px -->
}
table {
background-color: white;
width: 35%;
border: 2px solid black;
border-collapse: collapse;
font-size: 20px;
<!-- height: 100px; -->
margin: 20px;
}
td,th {
border: 1px solid black;
padding: 5px;
text-align:left;
}
th {
background-color: lightgray;
}
h1 {
   color:Gray;
  text-align:center;

}
h2 {
   color:red;

}
h3 {
   color:green;

}
h4 {
   color:red;
text-align:center;
}
h5 {
   color:yellow;

}
h6 {
   color:purple;
}
#title   {
font-color: lightgray
font-family: Arial, sans-serif;
font-size: 35px;
<!-- margin: 70px; -->
}
#table {
margin: 70px;

}
.name {
font-weight: bold;
}
